/*Variables*/
:root{
    --color-letra-contenido: #212529;
    --color-borde-contenido: #500452c9;
    --color-fondo-contenido: #efefef;
    --color-fondo-sidebar: #b4a7d6;
}

body{
    background-color: var(--color-fondo-contenido);
    height: 100%;
    transition: background-color 1.5s;
}

/*Estilos de Sidebar*/
.sidebar {
    background-color: var(--color-fondo-sidebar);
    padding: 15px;
    min-height: 100vh;
    height: 100%;
    width: 350px;
    display: block;
    color: var(--color-letra-contenido);
    transition: background-color 1.5s, color 1.5s;
 }

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 5px;
}

.sidebar a{
    color: var(--color-letra-contenido);
    transition: color 1.5s;
}

/* Estilos de Opciones*/

.opciones{
    background-color: #946cac;
    height: 100vh;
    width: 75px;
    position: sticky;
    top: 0;
}

.boton-base{
    padding: 5px;
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: #5004527a;
    color: #efefef;
}

.boton-base:hover{
    background-color: #500452c9;
    color: #efefef;
}

.boton-modo{
    background-color: #303030;
    color: #efefef;
}

/* Estilos de Contenido*/
#contenedor{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

#titulo-mobile{
    padding: 15px;
    height: 75px;
    background-color: var(--color-fondo-sidebar);
    color: var(--color-letra-contenido);
    display: none;
    transition: background-color 1.5s, color 1.5s;
}

.contenido {
    padding: 15px;
    width: 100%;
    color: var(--color-letra-contenido);
    transition: color 1.5s;
}

.delimitador{
    border-color: var(--color-borde-contenido);
    transition: border-color 1.5s;
}

/* Estilos de Perfil Profesional*/
.competencia-tecnica ul{
    list-style: none;
}

.competencia-tecnica p{
    text-align: justify;
}

.competencia-tecnica.centro{
    border-width: 0 3px 0 3px;
    border-color: var(--color-borde-contenido);
    border-style: solid;
    transition: border-color 1.5s;
}

.img-tecnologia{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    transition: filter 1.5s;
}

/* Estilos de Timeline */
.timeline {
    list-style: none;
    position: relative; 
    width: 90%;
    margin-left: auto;
}

.evento-timeline{
    margin: auto;
    background-color: var(--color-fondo-contenido);
    color: var(--color-letra-contenido);
    margin-bottom: 15px;
    position: relative;
    transition: background-color 1.5s, color 1.5s;
}

.evento-timeline::before{
    content: '';
    position: absolute;
    left: -35px; 
    top: 50%;
    transform: translateY(-50%);
    width: 30px; 
    height: 30px; 
    background-color: var(--color-fondo-contenido);
    border-color: var(--color-borde-contenido);
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    transition: background-color 1.5s,border-color 1.5s;
    z-index: 1000;
}

.evento-timeline::after{
    content: attr(data-fecha-i) "\A" attr(data-fecha-f);
    white-space: pre;
    left: -115px; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-overflow: clip;
    color:  var(--color-letra-contenido);
    text-align: right;
    font-weight: bold;
    transition: color 1.5s;
}

.linea-timeline {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: var(--color-borde-contenido);
    transition: background-color 1.5s,border-color 1.5s;
    z-index: 0;
}

.evento-timeline .card-header{
    background-color: var(--color-fondo-sidebar);
    transition: background-color 1.5s;
}

/* Valores Media */
@media (max-width: 680px) {
    .sidebar{
        display: none;
        width: 100%;
    }

    #titulo-mobile{
        display: block;
    }
    .timeline{
        width: 75%;
    }
    .competencia-tecnica.centro{
        border-width: 3px 0 3px 0;
        border-color: var(--color-borde-contenido);
        border-style: solid;
    }
    .img-tecnologia{
        width: 75px;
        height: 75px;
    }
}
